/*auto*/

$monospace  : Menlo,Menlo2,Consolas,monospace;

:root {
	--radius: 3px;
}

html,body { overflow: hidden; padding: 0; margin: 0; }
body { background-color: #FFF; color: #000; font-smoothing: antialiased; }
footer { font-size: 11px; color: #A0A0A0; margin: 0; border-top: 1px solid #F0F0F0; padding: 0 0 0 10px; line-height: 35px; height: 35px; text-align: center; }
footer a { color: #777; }
footer b { color: #000; }
.relative { position: relative; display: inline-block; }

.ui-dark footer { color: #777; border-top-color: #404040; }
.ui-dark footer a { color: #D0D0D0; }
.ui-dark footer b { color: #FFF; }
.ui-dark a, .ui-dark .link { color: #90aad1; }

.onlyadmin { display: none; }
.admin .onlyadmin { display: block; }

.loginbutton { float: right; color: #C0C0C0; cursor: pointer; font-size: 12px; margin: 0 15px 0 0; }
.loginbutton:hover { color: #A0A0A0; }
.gray { color: gray; }

.mobilenavigation button { width: 33.33%; height: 35px; border: 0; outline: 0; border-left: 1px solid #E0E0E0; background-color: #F0F0F0; }
.mobilenavigation button span { display: block; padding: 3px 5px; border-radius: var(--radius); }
.mobilenavigation button:first-child { border-left: 0; }
.mobilenavigation button.selected span { background-color: var(--color); color: #FFF; }

.fs12 { font-size: 12px; }
.logo { height: 47px; border-bottom: 1px solid #E0E0E0; background-color: #F8F8F8; line-height: 46px; padding: 0 0 0 15px; font-weight: bold; font-size: 18px; display: block; color: #000; text-decoration: none; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
.logo:hover { background-color: #F0F0F0; text-decoration: none; }
.ui-dark .logo { border-bottom-color: #404040; background-color: #303030; color: #FFF; }

.search { height: 47px; border-bottom: 1px solid #E0E0E0; background-color: #F8F8F8; cursor: pointer; color: #777; }
.search > i { float: left; width: 40px; text-align: center; padding: 16px 0 0; }
.search span { float: right; font-size: 12px; margin: 2px 10px 0 0; color: #A0A0A0; }
.search:hover { background-color: #F0F0F0; }
.search > .fa-times { cursor: pointer; }
.search > div { margin-left: 40px; padding: 13px 0 0 0; }
.search input { border: 0; background: transparent; width: 100%; outline: 0; color: black; }

.ui-dark .search { border-bottom-color: #404040; background-color: #303030; color: #D0D0D0; }
.ui-dark .search:hover { background-color: #353535; }
.ui-dark .search input { color: #FFF; }

.content { width: 1280px; margin: 0 auto; padding: 0 20px; }
.body { background: white; border-radius: var(--radius); box-shadow: 0 0 20px rgba(0,0,0,0.05); margin-left: 320px; }
.panel { background: white; border-radius: var(--radius); box-shadow: 0 0 20px rgba(0,0,0,0.05); position: fixed; width: 300px; }

#readingtime { padding: 10px 16px; font-size: 12px; border-top: 1px solid #F0F0F0; }
#readingtime span { font-weight: bold; }
#readingtime i { margin-right: 5px; }

#headlines { padding: 15px 10px; }
#headlines a { display: block; padding: 0 10px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
#headlines a i { margin-right: 4px; }
#headlines .H2 { color: black; font-size: 14px; font-weight: bold; line-height: 20px; padding-top: 3px; }
#headlines .H2:first-child { border-top: 0; padding-top: 0; margin-top: 0; }
#headlines .H3 { color: #404040; font-size: 14px; padding-left: 23px; background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAyCAYAAACd+7GKAAAAEElEQVR4AWMAAl8mEDnSCAB60gCwDZ47yAAAAABJRU5ErkJggg==) repeat-y 11px 0; line-height: 20px; }
#headlines .H4 { color: #777; font-size: 12px; padding-left: 34px; background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAyCAYAAACd+7GKAAAAEElEQVR4AWMAAl8mEDnSCAB60gCwDZ47yAAAAABJRU5ErkJggg==) repeat-y 11px 0, url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAyCAYAAACd+7GKAAAAEElEQVR4AWMAAl8mEDnSCAB60gCwDZ47yAAAAABJRU5ErkJggg==) repeat-y 26px 0; line-height: 18px; }
#headlines .H4 i { margin-right: 3px; }

header > h1 { margin: 10px 20px 20px; padding: 0 0 5px; border-bottom: 2px solid #000; }
header > h1 { border-bottom-color: #404040; }

.iconmenu { height: 45px; border-bottom: 1px solid #E0E0E0; margin-bottom: 10px; }
.iconmenu > div { float: left; width: 44px; height: 44px; line-height: 44px; text-align: center; border-right: 1px solid #E0E0E0; cursor: pointer; }
.iconmenu > div:hover { background-color: #F0F0F0; }

.ui-dark .iconmenu { border-bottom-color: #404040; }
.ui-dark .iconmenu > div { border-right-color: #404040; }
.ui-dark .iconmenu > div:hover { background-color: #353535; }

.ml5 { margin-left: 5px; }

.nav { padding: 10px 0; }
.nav .group { font-size: 12px; color: #888; padding: 0 0 5px 0; margin: 0 10px; }
.nav2 .group { font-size: 14px; color: #000; font-weight: bold; border-bottom: 1px solid #E0E0E0; margin-bottom: 10px; }
.ui-dark .nav2 .group { border-bottom-color: #404040; }
.nav .item.options { background-color: #F8F8F8; }
.ui-dark .nav .item.options { background-color: #272727; }
.nav .item { height: 26px; cursor: pointer; margin: 2px 8px 3px; border-radius: var(--radius); font-size: 12px; }
.nav .item > span { float: right; width: 24px; font-size: 12px; padding: 5px 5px 0 0; text-align: right; color: gray; }
.nav .item > span:hover { color: black; }
.nav .item:hover { background-color: #F0F0F0; color: black; }
.nav .item > i { float: left; width: 18px; font-size: 14px; padding: 6px 0 0 0; margin: 0 5px; color: gray; text-align: center; }
.nav .item > div { margin: 0 40px 0 32px; line-height: 26px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
.nav a > span b { background-color: #F00000; color: #FFF; margin: 0 0 0 5px; font-size: 8px; padding: 1px 3px; border-radius: var(--radius); font-family: Arial; position: relative; display: inline-block; line-height: 10px; vertical-align: middle; text-decoration: none; }
.nav .selected { color: white !important; background-color: var(--color) !important; }
.nav .selected i { color: white !important; }
.nav .selected span { color: white; }
.nav .selected i.green { color: #68B25B !important; }
.nav hr { margin: 10px 0; border-color: #E0E0E0; }
.nav .light { color: gray; }
.nav a { height: 28px; cursor: pointer; margin: 3px 8px 3px; border-radius: var(--radius); font-size: 13px; display: block; color: #000; }
.nav a:hover { background-color: #F0F0F0; color: black; text-decoration: none; }
.nav a > b { float: right; width: 18px; font-size: 11px; color: gray; margin: 4px 0 0; display: none; }
.admin .nav a > b { display: block; }
.nav a > i { float: left; width: 18px; font-size: 14px; padding: 7px 0 0 0; margin: 0 5px; color: gray; text-align: center; }
.nav a > span { margin: 0 5px 18px 32px; line-height: 28px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; display: block; }

.ui-dark .nav .group { color: #D0D0D0; }
.ui-dark .nav2 .group { color: #FFF; }
.ui-dark .nav .item > span { color: gray; }
.ui-dark .nav .item > span:hover { color: black; }
.ui-dark .nav .item:hover { background-color: #404040; color: black; }
.ui-dark .nav .item > i { color: gray; }
.ui-dark .nav hr { border-color: #404040; }
.ui-dark .nav hr { border-color: #404040; }
.ui-dark .nav .item:hover { background-color: #303030; color: white; }
.ui-dark .nav a { color: #D0D0D0; }
.ui-dark .nav a:hover { background-color: #404040; color: #FFF; }
.ui-dark .nav a > b { color: gray; }
.ui-dark .nav a > i { color: gray; }

@media (max-width:768px) {
	.nav .group { font-size: 14px; }
	.nav a { font-size: 16px; height: 35px; }
	.nav a > span { line-height: 32px; }
	.nav a > i { width: 30px; font-size: 18px; padding-top: 7px; }
}

.button { background-color: var(--color); border: 0; color: white; padding: 0 15px; cursor: pointer; outline: 0; border-radius: var(--radius); height: 34px; text-transform: uppercase; font-family: Arial; font-size: 14px; }
.button:hover { box-shadow: 0 2px 5px rgba(0,0,0,0.1); opacity: 0.9; }
.button:disabled { background-color: #E0E0E0; color: silver; cursor: not-allowed; box-shadow: none; opacity: 1; }
.button:disabled i { color: silver !important; }
.button i { margin-right: 5px; }
.button-small { height: 32px; font-size: 12px; }
.button-clear { background-color: #CA3F3F; }
.button-login { width: 100%; height: 34px; font-size: 16px; }

.links span { display: block; color: var(--color); font-size: 13px; cursor: pointer; }
.links span i { margin-right: 5px; }
.links span:hover { text-decoration: underline; }

.ui-dark .button { background-color: #303030; border-color: #454545; }
.ui-dark .button:disabled { background-color: #252525; color: #404040; }

.buttons .button { border-radius: 0; border-left-width: 0; }
.buttons .button:first-child { border-top-left-radius: 2px; border-bottom-left-radius: 2px; border-left-width: 1px; }
.buttons .button:last-child { border-top-right-radius: 2px; border-bottom-right-radius: 2px; }

hr { border-color: #E0E0E0; }
.bg-smoke { background-color: #F8F8F8; }
.ui-dark .bg-smoke { background-color: rgba(200,200,200,0.05); }

.padding { padding: 20px; }
.date { font-size: 12px; float: right; }
.author { font-size: 12px; }
.title { font-size: 14px; color: gray; padding: 10px 20px; background: #F0F0F0 linear-gradient(white,#F8F8F8); border-bottom: 1px solid #E0E0E0; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
.title .fa { margin-right: 8px; }
.nmb { margin-bottom: 0 !important; }

.caption { font-size: 15px; color: black; margin-bottom: 15px;font-weight: bold; }
.caption i { margin-right: 7px; }

.markdown { padding: 0; font-size: 16px; line-height: 22px; font-family: Arial; color: #404040; overflow-x: hidden; }
.markdown-small .markdown { font-size: 14px; line-height: 19px; overflow-y: hidden; }
.markdown-container > *:last-child { margin-bottom: 0; }
.markdown code { font-family: $monospace; }
.markdown h1 { cursor: default; margin: 0 0 20px; font-size: 34px; padding: 0 0 13px; border-bottom: 3px solid #E0E0E0; color: black; line-height: 38px; font-family: Arial; font-weight: normal; line-height: 32px; font-weight: normal; }
.markdown h2 { cursor: default; margin: 0 0 18px; font-weight: bold; font-size: 24px; padding: 8px 0; border-bottom: 2px solid #E0E0E0; color: black; line-height: 28px; font-family: Arial; }
.markdown h3 { cursor: default; margin: 0 0 10px; font-size: 20px; padding: 5px 0; color: #404040; font-weight: bold; line-height: 22px; font-family: Arial; }
.markdown-small .markdown h1 { margin: 0 0 20px; font-size: 28px; padding: 0 0 13px; line-height: 30px; line-height: 30px; }
.markdown h4, .markdown h5 { cursor: default; margin: 0 0 10px; font-size: 17px; color: #404040; font-weight: bold; line-height: 22px; font-family: Arial; padding: 4px 8px; border-radius: var(--radius); border: 3px solid #E0E0E0; }
.markdown p { margin: 0 0 15px; padding-left: 0; padding-right: 0; }
.markdown-small p { margin-bottom: 10px; }
.markdown p code, .markdown li code, .markdown section code, .markdown blockquote code, .markdown h1 code, .markdown h2 code, .markdown h3 code, .markdown h4 code, .markdown td code { background-color: #E0E0E0; padding: 1px 3px 2px; border-radius: var(--radius); font-size: 14px; }
.markdown p code, .markdown section code, .markdown li code, .markdown blockquote code, .markdown td code { border: 1px solid #E0E0E0; background-color: #F5F5F5; }
.markdown .code { margin-bottom: 15px; }
.markdown pre { padding: 0; border-radius: var(--radius); margin: 0; width: 100%; }
.markdown pre code { padding: 10px; font-size: 14px; line-height: 17px; overflow-scrolling: touch; border-radius: var(--radius); overflow-x: auto; overflow-y: hidden; }
.markdown-small p code, .markdown-small li code, .markdown-small section code, .markdown-small blockquote code, .markdown-small h1 code, .markdown-small h2 code, .markdown-small h3 code, .markdown-small h4 code, .markdown-small td code, .markdown-small pre code { font-size: 12px; }
.markdown table { margin: 0 0 15px; width: auto !important; }
.markdown ul { margin: 0 0 15px; padding: 0 0 0 2em; }
.markdown ul ul { margin-bottom: 0; }
.markdown img { max-width: 100%; }
.markdown th { background-color: #F8F8F8; }
.markdown blockquote { color: black; margin: 0 0 20px; padding: 10px 0 0 20px; position: relative; font-style: italic; }
.markdown blockquote:before { content: '\201C'; position: absolute; margin-left: -18px; margin-top: -13px; font: 45px 'PT Sans', sans-serif; color: #A0A0A0; }
.markdown section { padding: 15px 20px; background-color: #FFFED1; margin: 10px 0 20px; border-radius: var(--radius); }
.markdown hr { border-color: #E0E0E0; border-width: 1px; }
.markdown-line2 { border-width: 4px; margin: 15px 0 30px !important; }
.markdown h1 code { font-size: 28px; font-weight: normal; background-color: #DAE8F8; }
.markdown h2 code { font-size: 23px; font-weight: normal; background-color: #DAE8F8; }
.markdown h3 code { font-size: 18px; font-weight: normal; background-color: #DAE8F8; }
.markdown h4 code { font-size: 17px; font-weight: normal; background-color: #DAE8F8; }
.markdown-tasks { list-style-type: none; padding-left: 12px !important; }
.markdown-tasks li > i:first-child { margin-right: 5px; }
.markdown-code { margin-bottom: 15px; }
.markdown-code .link { color: #999; }
.markdown-block { margin: 0;}
.markdown-block > div { margin-bottom: 15px; }
.markdown-block:last-child { margin-bottom: 15px; }
.markdown-showblock { cursor: pointer; }
.markdown-showblock code { font-size: 15px; background-color: #DAE8F8; text-decoration: none !important; border-color: #D5DFEB; padding: 1px 2px; border-radius: var(--radius); }
.markdown a code { background-color: #DAE8F8; text-decoration: none !important; border-color: #D5DFEB; }
.markdown-footnote { background-color: rgba(0,0,0,0.1); padding: 0 2px; border-radius: var(--radius); cursor: help; }
.markdown-footnotebody { font-size: 11px; border-top: 1px solid #E0E0E0; font-family: Arial; color: #505050; }
.markdown-showsecret { cursor: pointer; display: block; padding: 15px; user-select: none; font-size: 16px; }
.markdown-showsecret b { margin-left: 8px; }
.markdown-showsecret .pull-right { margin: 5px 0 0; }
.markdown-showblock { cursor: pointer; display: block; padding: 3px 0; user-select: none; border-bottom: 1px solid #E0E0E0; }
.markdown-showblock i { width: 16px; font-size: 12px; padding: 5px 0 0; float: left; margin-right: 3px; }
.markdown-showblock-visible { border-bottom: 0; }
.markdown-block > div { padding: 20px 20px 10px; border: 1px solid #E0E0E0; margin: 10px 0; border-radius: var(--radius); }
.markdown-secret { padding: 0; border-radius: var(--radius); border: 1px solid #E0E0E0; }
.markdown-secret > div { padding: 15px 15px 1px; border-radius: 0 0 var(--radius) var(--radius); background-color: #F8F8F8; }
.markdown-video { position: relative; padding-bottom: 56.25%; padding-top: 25px; height: 0; margin-bottom: 15px; }
.markdown-video iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.markdown-keyword { font-size: 13px; font-family: Menlo,Consolas,monospace; color: #777; }

.ui-dark .markdown { color: #E0E0E0; }
.ui-dark .markdown h1 { border-bottom-color: #404040; color: #FFF; }
.ui-dark .markdown h2 { border-bottom-color: #404040; color: #FFF; }
.ui-dark .markdown h3 { color: #D0D0D0; }
.ui-dark .markdown h4, .ui-dark .markdown h5 { color: #404040; background-color: #353535; border-bottom-color: #404040; }
.ui-dark .markdown p code, .ui-dark .markdown li code, .ui-dark .markdown section code, .ui-dark .markdown blockquote code, .ui-dark .markdown h1 code, .ui-dark .markdown h2 code, .ui-dark .markdown h3 code, .ui-dark .markdown h4 code, .ui-dark .markdown td code { background-color: #404040; }
.ui-dark .markdown p code, .ui-dark .markdown section code, .ui-dark .markdown li code, .ui-dark .markdown blockquote code, .ui-dark .markdown td code { border-color: #404040; background-color: #353535; }
.ui-dark .markdown th { background-color: #353535; }
.ui-dark .markdown blockquote { color: #FFF; }
.ui-dark .markdown blockquote:before { color: #A0A0A0; }
.ui-dark .markdown section { background-color: #5a4d1d; }
.ui-dark .markdown hr { border-color: #404040; }
.ui-dark .markdown h1 code { background-color: #404040; }
.ui-dark .markdown h2 code { background-color: #404040; }
.ui-dark .markdown h3 code { background-color: #404040; }
.ui-dark .markdown h4 code { background-color: #404040; }
.ui-dark .markdown-showblock code { background-color: #404040; border-color: #404040; }
.ui-dark .markdown a code { background-color: #404040; border-color: #404040; }
.ui-dark .markdown-footnote { background-color: rgba(0,0,0,0.1); }
.ui-dark .markdown-footnotebody { border-top-color: #404040; color: #505050; }
.ui-dark .markdown-showblock { border-bottom-color: #404040; }
.ui-dark .markdown-block > div { border-color: #404040; }
.ui-dark .markdown-secret { border-color: #404040; }
.ui-dark .markdown-secret > div { background-color: #353535; }

.ui-backtotop { visibility: hidden; position: fixed; right: 25px; bottom: 20px; transform: translate3d(55px,0,0); transition: transform 0.65s, visibility 0.65s cubic-bezier(0,0,0,1); z-index: 50; }
.ui-backtotop.active { visibility: visible; transform: translate3d(0,0,0); transition: transform 0.65s; }
.ui-backtotop span { color: #bbb; font-size: 30px; transition: color 0.8s; cursor: pointer; }
.ui-backtotop span:hover { color: #888; transition: color 0.8s; }

.form { background-color: white; border-radius: var(--radius); border: 1px solid #E0E0E0 }
.form > label { background-color: white; border-bottom: 1px solid #E0E0E0; display: block; padding: 15px 20px; font-size: 16px; font-weight: bold; }
.form > label i { margin-right: 10px; }
.ui-centered-body .form { box-shadow: 0 20px 20px rgba(0,0,0,0.1); }

.badge { font-size: 11px; padding: 1px 6px 2px; border-radius: var(--radius); background-color: #F0F0F0; line-height: 12px; vertical-align: middle; margin-top: -2px; position: relative; display: inline-block; color: white; font-family: Arial; }
.badge i { margin-right: 3px; }
.badge-blue { background-color: #4CC1E9; }
.badge-red { background-color: #DA4453; }
.badge-green { background-color: #8CC152; }
.badge-yellow { background-color: #EFDC05; }
.badge-orange { background-color: #E9573F; }
.badge-gray { background-color: #606060; }
.badge-purple { background-color: #967ADC; }
.badge-pink { background-color: #D770AD; }
.badge-silver { background-color: #E0E0E0; color: gray; }
.badge-large { padding: 3px 8px; font-size: 14px; line-height: 16px; }
.badge-large i { margin-right: 5px; }
.badge-small { font-size: 10px; padding: 0px 3px 1px; }

dl { font-size: 13px; margin: 0; padding: 0; }
dt { margin: 0; padding: 0; float: left; width: 30%; color: gray; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
dt i, dd i { margin-right: 5px; }
dd { margin: 0 0 0 30%; padding: 0; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
dd:before { content: ':'; margin-right: 8px; color: gray; }

.ui-dark .hljs { background: #232323; color: #e6e1dc; }
.ui-dark .hljs-comment, .ui-dark .hljs-quote { color: #bc9458; }
.ui-dark .hljs-keyword, .ui-dark .hljs-selector-tag { color: #c26230; }
.ui-dark .hljs-number, .ui-dark .hljs-regexp, .ui-dark .hljs-string, .ui-dark .hljs-template-variable, .ui-dark .hljs-variable { color: #a5c261; }
.ui-dark .hljs-subst { color: #519f50; }
.ui-dark .hljs-name, .ui-dark .hljs-tag { color: #e8bf6a; }
.ui-dark .hljs-type { color: #da4939; }
.ui-dark .hljs-attr, .ui-dark .hljs-built_in, .ui-dark .hljs-builtin-name, .ui-dark .hljs-bullet, .ui-dark .hljs-link, .ui-dark .hljs-symbol { color: #6d9cbe; }
.ui-dark .hljs-params { color: #d0d0ff; }
.ui-dark .hljs-attribute { color: #cda869; }
.ui-dark .hljs-meta { color: #9b859d; }
.ui-dark .hljs-section, .ui-dark .hljs-title { color: #ffc66d; }
.ui-dark .hljs-addition { background-color: #144212; color: #e6e1dc; }
.ui-dark .hljs-deletion { background-color: #600; color: #e6e1dc; }
.ui-dark .hljs-selector-class { color: #9b703f; }
.ui-dark .hljs-selector-id { color: #8b98ab; }

.ui-layout-section { background-color: #FFF; }

.plibraries { float: left; width: 220px; border-right: 1px solid #E0E0E0; background-color: #FFF; }
.ppages { float: left; width: 250px; border-right: 1px solid #E0E0E0; background-color: #FFF; }
.pmain { margin-left: 470px; background-color: #FFF; }
.pbuttons { display: none; height: 35px; position: absolute; bottom: 0; left: 0; right: 0; z-index: 10; }
.visible { display: block !important; }

.ui-dark .plibraries { border-right-color: #404040; background-color: #202020; }
.ui-dark .ppages { border-right-color: #404040; background-color: #202020; }
.ui-dark .pmain { background-color: #202020; }

@media (max-width:1199px) and (min-width:992px) {
	.plibraries { width: 180px; }
	.ppages { width: 180px; }
	.pmain { margin-left: 360px; }
}

@media (max-width:991px) {
	.plibraries { width: auto; float: none; display: none; }
	.ppages { width: auto; float: none; display: none; }
	.pmain { margin-left: 0; display: none; }
	.pbuttons { display: block; }
	.content { width: 100%; }
	.panel { display: none; }
	.body { margin-left: 0; }
}

.alert { background-color: #fffad7; border: 1px solid #EDE8C8; padding: 15px; border-radius: 2px; color: #988e56; font-size: 12px; line-height: 14px; }
.alert i { margin-right: 5px; }

.alert .keyvalue { font-size: 12px; margin-bottom: 0; }
.alert .keyvalue div { text-align: right; color: #000; }

.keyvalue { min-height: 20px; font-size: 13px; margin-bottom: 2px; line-height: 17px; }
.keyvalue > span { width: 120px; float: left; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; color: #777; }
.keyvalue > span i { width: 14px; margin-right: 5px; }
.keyvalue > div { margin-left: 120px; }
.keyvalue > div i { width: 14px; margin-right: 5px; }