$monospace  : Menlo,Menlo2,Consolas,monospace;

.ui-nav { padding: 12px 5px; }
.ui-nav ul { list-style-type: none; margin: 0; padding: 0 0 12px; font-size: 13px; }
.ui-nav ul li { padding: 0; margin: 0 5px; display: block; color: #000000; cursor: pointer; margin-bottom: 1px; border-radius: var(--radius); }
.ui-nav ul li a { display: block; color: #000000; padding: 2px 5px; }
.ui-nav ul li:hover { background-color: #E8E8E8; }
.ui-nav ul li:hover a { text-decoration: none; }
.ui-nav ul a > i { width: 18px; color: var(--color); text-align: center; margin-right: 7px; }
.ui-nav ul a > span { float: right; color: gray; font-size: 11px; margin: 2px 0 0; display: none; }
.ui-nav .deprecated { text-decoration: line-through; }
.admin .ui-nav ul a > span { display: block; }
.ui-nav ul .selected { background-color: var(--color) !important; color: #FFF; }
.ui-nav ul .selected * { color: #FFF !important; }
.ui-nav .group { font-size: 13px; color: #000000; padding: 0 0 5px 0; margin: 0 10px; font-weight: bold; }
.ui-nav ul li a b { background-color: #F00000; color: #FFF; margin: 0 0 0 5px; font-size: 8px; padding: 1px 3px; border-radius: var(--radius); font-family: Arial; position: relative; display: inline-block; line-height: 10px; vertical-align: middle; text-decoration: none; }
.ui-nav ul li a em { float: right; font-size: 10px; margin: 2px 0 0; color: gray; font-style: normal; }
.admin .ui-nav ul li a em { margin-right: 5px; }

.ui-items-topiclist { max-width: 300px; margin: 0 0 20px 20px; padding: 0; border-radius: var(--radius); border: 1px solid #E0E0E0; font-size: 15px; }
.ui-items-topiclist a { color: var(--color); }
.ui-items-topiclist i { margin-right: 10px; color: var(--color); }
.ui-items-topiclist div { padding: 10px 15px; background-color: #F8F8F8; border-bottom: 1px solid #E0E0E0; font-weight: bold; border-radius: var(--radius) var(--radius) 0 0; }

.ui-items-name { font-size: 11px; color: #999999; margin-bottom: 2px; padding: 0 }
.ui-items-topics { padding: 10px 20px; }
.ui-items-topic.selected { margin-bottom: 10px; }
.ui-items-topic:hover { border-bottom-color: #000; }
.ui-items-topic:hover label { color: #000; }
.ui-items-topics h2 { margin: 5px 0 10px 0; padding: 0; font-size: 22px; }
.ui-items-content { padding: 20px 0 10px; border-top: 2px solid #F0F0F0; margin: 5px 0 0; max-width: 800px; }
.ui-items-content-name { font-size: 11px; color: #A0A0A0; margin-bottom: 8px; }
.ui-items-text { margin: 0 20px; }
.ui-items-text:last-child { padding-bottom: 0; padding-top: 10px; }
.ui-items-text:last-child .ui-items-content { padding-bottom: 0; }
.ui-items-edit { float: right; font-size: 11px; color: gray; margin: 3px 0 0 5px; cursor: pointer; display: none; }
.ui-items-edit:hover { text-decoration: underline; }
.admin .ui-items-edit { display: block; }

.ui-items-topic label .version { margin-right: 10px; }
.ui-items-topic label .method { min-width: 50px; position: relative; display: inline-block; font-weight: bold; color: #FFF; margin-right: 10px; border-radius: var(--radius); text-align: center; padding: 0 3px; }
.ui-items-topic label .url { }
.ui-items-topic label .query { color: #999; }

.GET { background-color: #EC8632; }
.HEAD { background-color: #99982F; }
.POST { background-color: #4285F4; }
.PUT { background-color: #214D94; }
.PATCH { background-color: #479798; }
.DELETE { background-color: #8A1A11; }
.API { background-color: #8A2094; }
.markdown .method { border-radius: var(--radius); text-align: center; padding: 0 3px; color: #FFF; font-weight: bold; }

.ui-items-meta { border-top: 1px dotted #E0E0E0; padding: 8px 0 5px; margin-top: 10px; }
.ui-items-deprecated label { text-decoration: line-through; }
.ui-items-deprecated-badge { background-color: #F00000; color: #FFF; margin: 0 0 10px; font-size: 10px; padding: 1px 4px; border-radius: var(--radius); font-family: Arial; position: relative; display: inline-block; line-height: 16px; vertical-align: middle; text-decoration: none; text-transform: uppercase; font-weight: bold; }
.ui-items-deprecated-badge i { font-size: 10px; }

.ui-items-changelog { padding: 8px 10px; border-radius: var(--radius); background-color: #F9F5DD; border: 1px solid #EDE7C2; margin-bottom: 10px; font-size: 12px; color: #8D8562; }
.ui-items-changelog code { background-color: #f3e0ac; padding: 1px 3px 2px; border-radius: var(--radius); font-family: $monospace; }

.ui-items-text:first-child { padding-top: 0; }
.ui-items-text:first-child .ui-items-content { border-top: 0; padding-top: 0; margin-top: 0; }
.ui-items-topic > em { float: right; font-size: 10px; color: gray; margin: 2px 10px 0 0; }
.ui-items-topic dt { width: 100px; }
.ui-items-topic dd { margin-left: 100px; }
.ui-items-topic { border-bottom: 1px solid #E0E0E0; padding: 3px 0; }
.ui-items-topic label > em { float: right; }
.ui-items-topic label { font-family: $monospace; color: var(--color); display: block; cursor: pointer; }
.ui-items-topic label .version { float: right; color: gray; font-size: 11px; margin: 3px 0 0 0; text-decoration: none; }
.ui-items-topic label i { width: 14px; text-align: center; margin-right: 5px; }
.ui-items-topic label b { background-color: #F00000; color: #FFF; margin: 0 0 0 5px; font-size: 8px; padding: 1px 3px; border-radius: var(--radius); font-family: Arial; position: relative; display: inline-block; line-height: 10px; vertical-align: middle; text-decoration: none; }
.ui-items-topic.selected label { font-weight: bold; }

.ui-dark .ui-items-topiclist { border-color: #404040; }
.ui-dark .ui-items-topiclist a { color: var(--color); }
.ui-dark .ui-items-topiclist i { color: var(--color); }
.ui-dark .ui-items-topiclist div { background-color: #353535; border-bottom-color: #404040; }

.ui-dark .ui-items-name { color: #999999; }
.ui-dark .ui-items-topic:hover { opacity: 0.8; }
.ui-dark .ui-items-content { border-top-color: #353535; }
.ui-dark .ui-items-edit { color: gray; }

.ui-dark .ui-items-meta { border-top-color: #404040; }
.ui-dark .ui-items-deprecated-badge { background-color: #F00000; color: #FFF; }

.ui-dark .ui-items-changelog { background-color: #F9F5DD; border-color: #EDE7C2; color: #8D8562; }
.ui-dark .ui-items-changelog code { background-color: #f3e0ac; }

.ui-dark .ui-items-topic > em { color: gray; }
.ui-dark .ui-items-topic { border-bottom-color: #404040; }
.ui-dark .ui-items-topic label { color: var(--color); }
.ui-dark .ui-items-topic label .version { color: gray; }
.ui-dark .ui-items-topic label b { background-color: #F00000; color: #FFF; }

.ui-codemirror-label { margin-bottom: 5px; font-size: 12px; text-align: left; }
.ui-codemirror-label .fa { width: 14px; }
.ui-codemirror-label-required:before { color: red; content: '***'; margin-right: 5px; }
.ui-codemirror-invalid .CodeMirror { border: 1px solid red !important; }
.CodeMirror { border: 1px solid #E0E0E0; border-radius: var(--radius); font-family: $monospace !important; }
.ui-disabled .ui-codemirror { cursor: not-allowed; }
.CodeMirror-scrollbar-filler { background-color: #303030; }
.CodeMirror-simplescroll-horizontal div, .CodeMirror-simplescroll-vertical div { position: absolute; background: #A0A0A0; }
.CodeMirror-simplescroll-horizontal, .CodeMirror-simplescroll-vertical { position: absolute; z-index: 6; background: #D0D0D0; }
.CodeMirror-simplescroll-horizontal { bottom: 0; left: 0; height: 8px; }
.CodeMirror-simplescroll-horizontal div { bottom: 0; height: 100%; }
.CodeMirror-simplescroll-vertical { right: 0; top: 0; width: 8px; }
.CodeMirror-simplescroll-vertical div { right: 0; width: 100%; }
.CodeMirror-overlayscroll .CodeMirror-scrollbar-filler, .CodeMirror-overlayscroll .CodeMirror-gutter-filler { display: none; }
.CodeMirror-overlayscroll-horizontal div, .CodeMirror-overlayscroll-vertical div { position: absolute; background: #A0A0A0; }
.CodeMirror-scrollbar-filler { background: #D0D0D0 !important; }
.CodeMirror-overlayscroll-horizontal, .CodeMirror-overlayscroll-vertical { position: absolute; z-index: 6; }
.CodeMirror-overlayscroll-horizontal { bottom: 0; left: 0; height: 6px; }
.CodeMirror-overlayscroll-horizontal div { bottom: 0; height: 100%; }
.CodeMirror-overlayscroll-vertical { right: 0; top: 0; width: 6px; }
.CodeMirror-overlayscroll-vertical div { right: 0; width: 100%; }
.cm-trailingspace { background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAACCAYAAAB/qH1jAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QUXCToH00Y1UgAAACFJREFUCNdjPMDBUc/AwNDAAAFMTAwMDA0OP34wQgX/AQBYgwYEx4f9lQAAAABJRU5ErkJggg==); background-position: bottom left; background-repeat: repeat-x; }
.cm-tab { background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAMCAYAAAAkuj5RAAAAKElEQVRIiWNgGAWjYBQMacDIwMBgzMDAcBZKw8BQ4I+CUTAKRsEgAAAA4AwCz6/F0QAAAABJRU5ErkJggg==) no-repeat 100% 50%; }
.ui-dark .cm-variable-R { background-color: rgba(231,241,151,.16); color: #dcf339; }
.ui-dark .CodeMirror-matchingtag { background-color: rgba(220,220,220,0.15); }
.ui-dark .cm-variable-R { background-color: rgba(231,241,151,.16); color: #dcf339; }
.ui-dark .cm-variable-S { background-color: rgba(255,59,231,.15); color: #f546fd; }
.ui-dark .cm-variable-J { background-color: rgba(73,111,51,.35); color: #90ff2f; }
.ui-dark .cm-variable-E { background-color: rgba(108,150,20,.15); color: #6C9614; }
.ui-dark .cm-variable-B { background-color: rgba(27,27,27,.35); color: #84d087; }
.ui-dark .CodeMirror-dialog button { background-color: #505050; color: #FFF; }
.ui-dark .CodeMirror-dialog { color: #A0A0A0; border-bottom-color: #404040; box-shadow: 0 2px 3px rgba(0,0,0,0.05); }
.ui-dark .CodeMirror-dialog input { color: #FFF; }
.ui-dark .CodeMirror { background-color: #303030; color: #A0A0A0; border-color: #404040; }
.ui-dark .CodeMirror-activeline-background { background-color: rgba(0,0,0,0.1); }
.ui-dark .cm-s-default .cm-qualifier { color: gray; }
.ui-dark .cm-s-default .cm-meta { color: #ae81ff; }
.ui-dark div.CodeMirror-selected { background: #404040; }
.ui-dark .CodeMirror-line::selection, .ui-dark .CodeMirror-line > span::selection, .ui-dark .CodeMirror-line > span > span::selection { background: rgba(70, 70, 70, .99); }
.ui-dark .CodeMirror-line::-moz-selection, .ui-dark .CodeMirror-line > span::-moz-selection, .ui-dark .CodeMirror-line > span > span::-moz-selection { background: rgba(70, 70, 70, .99); }
.ui-dark .CodeMirror-gutters { background: #404040; border-right: 0px; }
.ui-dark .CodeMirror-guttermarker { color: #FFF; }
.ui-dark .CodeMirror-guttermarker-subtle { color: #d0d0d0; }
.ui-dark .CodeMirror-linenumber { color: gray; }
.ui-dark .CodeMirror-cursor { border-left: 1px solid #f8f8f0; }
.ui-dark .CodeMirror { border-color: #404040; }
.ui-dark .CodeMirror-simplescroll-horizontal div, .ui-dark .CodeMirror-simplescroll-vertical div { background: #151515; }
.ui-dark .CodeMirror-simplescroll-horizontal, .ui-dark .CodeMirror-simplescroll-vertical { background: #303030; }
.ui-dark .CodeMirror-overlayscroll-horizontal div, .ui-dark .CodeMirror-overlayscroll-vertical div { background: #151515; }
.ui-dark .CodeMirror-scrollbar-filler { background-color: #202020; }

.ui-table-border > table { border: 1px solid #E0E0E0; }
.ui-table-border .ui-table-head > thead > tr > th, .ui-table-border .ui-table-tbody > tr > td { border-left: 1px solid #E0E0E0; border-right: 1px solid #E0E0E0; padding-left: 8px; padding-right: 8px; }
.ui-table-border .ui-table-head > thead > tr > th:first-child, .ui-table-border .ui-table-tbody > tr > td:first-child { border-left: 0 !important; }
.ui-table-flat .ui-table-head > thead > tr > th, .ui-table-flat .ui-table-tbody > tr > td { padding-left: 0; padding-right: 0; }
.ui-table-table, .ui-table-head { width: 100%; margin: 0; padding: 0; font-size: 13px; table-layout: fixed; }
.ui-table-head { border-bottom: 0; }
.ui-table-border .ui-table-headcontainer { border: 1px solid #E0E0E0; border-bottom: 0; border-right: 0; }
.ui-table-border .ui-table-headcontainer.ui-table-scrollbar { border-right: 1px solid #E0E0E0; }
.ui-table-scrollbar { padding-right: 8px; }
.ui-table-border .ui-table-scrollbar .ui-table-head { border-right: 1px solid #E0E0E0; }
.ui-table-head th { padding: 8px 4px; }
.ui-table-head .sort { cursor: pointer; user-select: none; }
.ui-table-head .sort i { text-align: left; color: #4783EE; }
.ui-table-head .sort .fa-long-arrow-up, .ui-table-head .sort .fa-long-arrow-down { width: 12px; }
.ui-table-head .sort .fa-sort { color: black; }
.ui-table-nohead, .ui-table-nohead tr, .ui-table-nohead th { height: 0 !important; overflow: hidden !important; padding: 0 !important; margin: 0 !important; border-bottom: 0; }
.ui-table-tbody > tr { border-bottom: 1px solid #E0E0E0; }
.ui-table-tbody > tr > td { padding: 5px 4px; }
.ui-table-tbody button { width: 28px; background-color: transparent; border: 0; border-left: 1px solid #E0E0E0; border-radius: 0; color: #777777; font-size: 12px; }
.ui-table-tbody button:hover { color: #000000; }
.ui-table-tbody button:disabled, .ui-table-tbody button:disabled i { color: #B0B0B0 !important; cursor: not-allowed; }
.ui-table-tbody button:first-child { border-left: 0; }
.ui-table-selectable .ui-table-tbody tr { cursor: pointer; }
.ui-table-selectable .ui-table-tbody tr:hover { background-color: rgba(100,100,100,.05); }
.ui-table-selected { background-color: rgba(253,255,191,.41) !important; }
.ui-table-detailed .ui-table-selected { border-bottom-color: transparent; }
.ui-table-detail { background-color: transparent !important; cursor: inherit !important; }
.ui-table-detail td { padding: 20px 4px !important; }
.ui-table-empty { font-size: 12px; color: gray; padding: 30px 0; text-align: center; }
.ui-table-empty i { margin-right: 5px; }
.ui-table-border > .ui-table-container { border: 1px solid #E0E0E0; }
.ui-table-footer { border: 1px solid #E0E0E0; border-top: 0; height: 32px; }
.ui-table-pagination { float: left; }
.ui-table-pagination button { background-color: #FFF; border: 0; border-left: 1px solid #E0E0E0; height: 31px; width: 40px; color: black; font-size: 12px; text-align: center; outline: 0; }
.ui-table-pagination button:hover { background-color: #F0F0F0; }
.ui-table-pagination button:disabled { background-color: #F9F9F9; color: #A0A0A0; }
.ui-table-pagination button:first-child { border-left: 0; }
.ui-table-pagination button[name="page-prev"] { border-right: 1px solid #E0E0E0; width: 41px; }
.ui-table-pagination button[name="page-last"] { border-right: 1px solid #E0E0E0; }
.ui-table-pagination input { width: 40px; text-align: center; border: 0; outline: 0; font-size: 12px; padding: 0; margin: 0; background-color: transparent; }
.ui-table-pagination > div { position: relative; display: inline-block; }
.ui-table-pagination-items { float: right; font-size: 12px; margin: 7px 10px 0 0; font-weight: bold; }
.ui-table-pagination-pages { float: left; font-size: 12px; margin: 7px 0 0 10px; }

.ui-dark .ui-table-border > .ui-table-container { border-color: #404040; }
.ui-dark .ui-table-border > .ui-table-headcontainer { border-color: #404040; }
.ui-dark .ui-table-head { color: #FFF; }
.ui-dark .ui-table-head .sort .fa-sort { color: #FFF; }
.ui-dark .ui-table-footer { border-color: #404040; }
.ui-dark .ui-table-border .ui-table-headcontainer thead > tr > th, .ui-dark .ui-table-border .ui-table-tbody > tr > td { border-left: 1px solid #404040; border-right: 1px solid #404040; }
.ui-dark .ui-table-thead th { padding: 8px 4px; border-bottom: 2px solid #404040; }
.ui-dark .ui-table-tbody > tr { border-bottom: 1px solid #404040; }
.ui-dark .ui-table-selectable .ui-table-tbody tr:hover { background-color: rgba(100,100,100,.2); }
.ui-dark .ui-table-selected { background-color: rgba(100,100,100,.3) !important; }
.ui-dark .ui-table-empty { border-top-color: #404040; border-bottom-color: #404040; }
.ui-dark .ui-table-pagination button { background-color: #303030; color: #A0A0A0; border-color: #404040; }
.ui-dark .ui-table-pagination button:hover { background-color: #404040; color: white; }
.ui-dark .ui-table-pagination button:first-child { border-left-color: #404040; }
.ui-dark .ui-table-pagination button[name="remove"] { background-color: #282828; color: red; }
.ui-dark .ui-table-pagination button:disabled { background-color: #252525 !important; color: #505050 !important; }
.ui-dark .ui-table-tbody button { border-left-color: #404040; color: #999999; }
.ui-dark .ui-table-tbody button:hover { color: #FFF; }
.ui-dark .ui-table-tbody button:disabled, .ui-dark .ui-table-tbody button:disabled i { color: #303030 !important; }
